@using Boolflix.Models.DataHome
@{
    ViewData["Title"] = "Home Page";
}
@model IndexData

<div class="container-fluid">
    <div class="row index_boolflix">
        
        @foreach (Film film in Model.Films)
        {
            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                    <img src="@film.Poster" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">@film.Title</h5>
                        <h6 class="card-subtitle mb-2" style="color: green;">@film.Compatibility% Compatibile</h6>
                        <p class="card-text">@film.Description</p>
                        <a class="btn mr-2" href="@Url.Action("UpdateFilm", "Admin", new { id = film.Id })">Modifica</a>
                        <form asp-controller="Admin" asp-action="DeleteFilm" asp-route-id="@film.Id" method="post" class="d-inline btn">
                            <button type="submit">
                                Elimina
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        }
        
        
        @foreach (SerieTV serie in Model.Series)
        {
            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                    <img src="@serie.Poster" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">@serie.Title</h5>
                        <h6 class="card-subtitle mb-2" style="color: green;">@serie.Compatibility% Compatibile</h6>
                        <p class="card-text">@serie.Description</p>
                        <a class="btn mr-2" href="@Url.Action("UpdateSerie", "Admin", new { id = serie.Id })">Modifica</a>
                        <form asp-controller="Admin" asp-action="DeleteSerie" asp-route-id="@serie.Id" method="post" class="d-inline btn">
                            <button type="submit">
                                Elimina
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

@if(User.Identity.IsAuthenticated)
{
    <a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="CreateFilm">Crea nuovo Elemento</a>
    <a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="CreateSerie">Crea nuovo Elemento</a>
}